[submodule "freeink-sdk"]
	path = freeink-sdk
	url = https://github.com/Free-Ink/freeink-sdk.git
	branch = main
[submodule "millipawn"]
	path = millipawn
	url = https://github.com/rtens/millipawn.git
